<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #app {
            border: 5px solid black;
            height: 200px;
            width: 600px;
            text-align: center;
            margin: 0 auto;
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div id="app">
        <child :leave='leave'>湖人</child>
        //使用vue组件定义
        <!--<template id="hdom">
            <div>
                <h1 v-if="leave==1">
                    <slot></slot>
                </h1>
                <h2 v-if="leave==2">
                    <slot></slot>
                </h2>
                <h3 v-if="leave==3">
                    <slot></slot>
                </h3>
            </div>

        </template>-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        //使用vue组件定义：
        //Vue.component('child', {
        //   props: ['leave'],
        //   template: '#hdom'
        // })
        
        //使用render函数进行定义组件
        Vue.component('child', {
            render: function (createElement) {
                return createElement('h' + this.leave, this.$slots.default)
            },
            props: ['leave']
        })
        var app = new Vue({
            el: '#app',
            data: {
                leave: 5
            }
        })

    </script>
</body>

</html>